{% extends 'base.html' %}

{% block title %}
Upload your vocabulary
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload your vocabulary (only .txt format)</label>
                {{ form.file(class='form-control-file') }}
            </div>
                {{ form.submit(class='btn btn-outline-success btn-block') }}
        </form>
    </div>
</body>

{% endblock  %}
{% block style %}
    body {
        margin: 10% !important;
    }
    label {
        font-size: 15pt !important;
        margin: 10px !important;
    }
{% endblock %}
